@model ECommerceWeb.ViewModels.SubCategoryViewModel

@{
    ViewData["Title"] = "CreateSubCategory";
}


<h4>Create Sub Category of @ViewBag.catName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSubCategory" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input hidden asp-for="SubCategory.Category" />
            <div class="form-group">
                <label asp-for="SubCategory.Name" class="control-label"></label>
                <input asp-for="SubCategory.Name" class="form-control" />
                <span asp-validation-for="SubCategory.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Category</a>
</div>

